
<h1>Welcome to the users page</h1>

<% @users.each do |user| %>
<div>
  <h3><a href="/users/<%= user[:id] %>"><%= user[:email] %></a></h3>
  <p><%= user[:first_name] %></p>
  <p><%= user[:last_name] %></p>
  <p><%= user[:age] %></p>
</div>
<% end %>
